.app {
  padding: 50px;
  height: 100vh;
}
h1 span {
  display: block;
  font-size: 14px;
  font-style: italic;
  height: 14px;
  margin-bottom: 5px;
}
.note-form {
  display: flex;
  width: 200px;
  flex-direction: column;
}
.note-form textarea {
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  border: 1px solid lightgrey;
  min-width: 100%;
  max-width: 100%;
  height: 100px;
  padding: 10px;
}
button {
  width: 100%;
  background-color: #fff27f;
  cursor: pointer;
  padding: 10px;
  border: 0;
  outline: none;
}
button:hover {
  background-color: tomato;
  color: white;
}
.note {
  position: absolute;
  cursor: pointer;
  background-image: url("assets/post-it-note.png");
  background-size: cover;
  top: 100px;
  left: 300px;
  height: 200px;
  width: 200px;
  padding: 20px;
}
.text {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  white-space: pre-wrap;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  padding: 30px 0;
}
.lastNote {
  position: sticky;
  bottom: -30px;
  left: 50%;
  margin: 0 auto;
  display: inline-block;
  background-color: tomato;
  padding: 10px;
  border-radius: 4px;
}
.close {
  width: 15px;
  height: 15px;
  color: rgb(228, 69, 41);
  position: absolute;
  right: 5px;
  top: 5px;
  transition: transform 0.3s ease;
}
.close:hover {
  transform: scale(1.6);
}
